<!DOCTYPE html>
<html>
  <head>
    <title>Airbyob</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= @api_key %>&libraries=places"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>"
      window.splash = "<%= image_url('water.jpg') %>"
      window.livingroom = "<%= image_url('airbnb_livingroom.jpg') %>"
      window.bedroom = "<%= image_url('airbnb_bedroom.jpg') %>"
      window.pool = "<%= image_url('airbnb_image2.jpg') %>"
      window.orange =  "<%= image_url('airbnb_orange_livingroom.jpg') %>"
      window.bedtwo = "<%= image_url('airbnb_bedrooms.jpg') %>"
    </script>

    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
