<!DOCTYPE html>
<html>
  <head>
    <title>Airbyob</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAPjYkDq0-iiCd6W5-qCw46J-r0EW39L1U"%>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>"
      window.splash = "<%= image_url('splash.jpg') %>"
      window.bedroom1 = "<%= image_url('airbnb_bedroom.jpg') %>"
      window.bedroom2 = "<%= image_url('airbnb_bedroom2.jpeg') %>"
      window.orangelivingroom = "<%= image_url('airbnb_orange_livingroom.jpeg') %>"
      window.livingroom = "<%= image_url('airbnb_livingroom.jpeg') %>"
      window.diningroom = "<%= image_url('airbnb_diningroom.jpeg') %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
