<!DOCTYPE html>
<html>
  <head>
    <title>Airbyob</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=&libraries=places" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>"
      window.splash = "<%= image_url('splash.jpg') %>"
      window.livingroom = "<%= image_url('airbnb_livingroom.jpg') %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
